/* src/index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #faf7f2;
}

button {
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}
